.back{
  width: 100%;
  height: 100vh;
  background: url('../../assets/background.jpg');
  background-size: cover;
  background-position: center;
  overflow-y: scroll;
}

header{
  width: 100%;
  height: 11em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 3.5em;
  background: url(../../assets/cloud.png);
  background-repeat: no-repeat;
  background-position: bottom;

  h1{
    font-family: 'DynaPuff', cursive;
    letter-spacing: .05em;
    color: #85c1f1;
    -webkit-text-stroke: .05em #000;
  }

}

.title{
  font-size: 3.8em;
}

.title-2{
  font-size: 2.5em;
}

.container{
  width: 90%;
  margin: 2em auto;
  background-color: rgba(#EAE8E8, 0.8);
  box-shadow: 0 0 1em 1em rgba(#EAE8E8, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.input-div{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 1.5em 0;


  input[type=radio]{
    all: unset;
    pointer-events: none;
  }

  input[type=number]{
    width: 8em;
    font-size: 1.15em;
    border: .15em solid #000;
    padding-left: .25em;

    &::-webkit-inner-spin-button{
      appearance: none;
    }
  }

  label{
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  span{
    display: block;
    cursor: pointer;
    font-size: 1.6em;
  }
}

.input{
  width: 50%;
}

.select-div{
  width: 4em;
}

.result-div{
  width: 60%;
  margin: 2em auto 2em;
  background-color: rgba(#fff, 0.5);
  box-shadow: 0 0 1em 1em rgba(#ffffff, 0.5);
  text-align: center;

  input{
    width: 6em;
    font-size: 1.2em;
    margin: .5em 0;
    border: .15em solid #000;
    padding-left: .25em;
  }
}

.warn{
  font-size: .9em;
  text-align: center;
}

.error{
  font-size: .8em;
}

.links{
  a{
    font-size: 3em;
    color: #000;
    margin: 0 1em;
  }
}

@media screen and (min-width: 37.5em) {

  .container{
    width: 70%;
  }

}

@media screen and (min-width: 45em) {

  .container{
    width: 50%;
  }

}

@media screen and (min-width: 56em) {

  .container{
    width: 40%;
    margin-top: 8em;
    transform: scale(1.4);
  }

}

@media screen and (min-width: 80em) {

  .container{
    width: 25%;
  }

}

@media screen and (min-width: 90em) {

  .container{
    width: 30%;
  }

  .input-div{

    input[type=number]{
      width: 80%;
    }
  }

  .result-div{
    input{
      width: 8em;
    }
  }
}
